
:root {
    --white: rgb(255, 255, 255);
    --blue: #71adaf;
    --dark-blue: #32657a;
    --grey: #c6c6c6;
    --blk: black
    --border-radius: 50px;
  }
  
  body {
    font-family: monospace;
    line-height: 1.5;
    color: var(--blk);
    background-color: var(--grey);
  }

  header {
    padding: 2%;
  }

.nav-bar {
    background-image: url(C:\Users\castr\Desktop\portfolioRainey\assets\cloudsss.png);
    font-size: 16px;
}

.logo {
    padding: 3%;
    font-size: 240%;
    margin-bottom: 3%;
}

.Rain {
    color: var(--dark-blue);
}

.nav-links{
    font-family: monospace;
    display: flex;
    min-height: 15vh;
    justify-content: flex-end;
}

.nav-tag{
    padding: 6%;
}

.profile-pic{
    max-width: 189px;
}

.sctn{
    border-style: dotted;
    border-width: 9px;
    border-radius: var(--border-radius);
    border-color: var(--blue);
    padding: 10px;
    margin: 20px;
};

h2 {
    display: flex;
    text-align: center;
    font-size: large
};

.abt-me{
    display: flex;
    justify-content: flex-start;
}

#werkScreenshot{
    display: flex;
    max-width: 459px;
}